@import url('./reset.css');

:root {
    --primary-color: #2A641C;
    --secondary-color: #52A535;
    --font-color: #333333;
    --background-color: #FFFFFF;
    --background-cinza: #262423;
    --font-primary: 'Minecrafter';
    --font-secondary: 'Minecraft';
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: var(--font-secondary);
    color: white;
}

h1, h2 {
    font-family: var(--font-primary);
}

.logo img {
    width: 150px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    top: 0;
    left: 0;
    background-color: var(--background-cinza);
    padding: 15px;
}

.btn-style {
    background-color: var(--primary-color);
    border: 3px solid #131111;
    padding: 10px 20px;
    text-align: center;
    margin-right: 20px;
    box-shadow: inset 0px 4px 0px var(--secondary-color), 0px 0px 10px rgba(0, 0, 0, 0.25);
}

form{
    color:#131111
}